version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: gameboard-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./gameboard_bot.db:/app/gameboard_bot.db
      - ../data:/app/data  # данные из родительской папки
    working_dir: /app
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
